# Project place file
endor-temple.rbxl
endor-temple.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# VSCode settings
.vscode/
.vscode/*
./.vscode/

Packages
ServerPackages

roblox.yml
wally.lock