# Project place file
/the-force.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

Packages/
ServerPackages/
DevPackages/
*.rbxl*
.env
.env.luau
roblox.yml
build/
sourcemap.json
.VSCodeCounter
**/*.diff
.obsidian